# TAVILY API Key
TAVILY_API_KEY=your-tavily-api-key

# Jina API Key
JINA_API_KEY=your-jina-api-key

# InfoQuest API Key
INFOQUEST_API_KEY=your-infoquest-api-key

# Optional:
# FIRECRAWL_API_KEY=your-firecrawl-api-key
# VOLCENGINE_API_KEY=your-volcengine-api-key
# OPENAI_API_KEY=your-openai-api-key
# GEMINI_API_KEY=your-gemini-api-key
# DEEPSEEK_API_KEY=your-deepseek-api-key
# NOVITA_API_KEY=your-novita-api-key  # OpenAI-compatible, see https://novita.ai
# MINIMAX_API_KEY=your-minimax-api-key  # OpenAI-compatible, see https://platform.minimax.io
# VLLM_API_KEY=your-vllm-api-key  # OpenAI-compatible


# Enable LangSmith to monitor and debug your LLM calls, agent runs, and tool executions.
# LANGSMITH_TRACING=true
# LANGSMITH_ENDPOINT=https://api.smith.langchain.com
# LANGSMITH_API_KEY=your-langsmith-api-key
# LANGSMITH_PROJECT=your-langsmith-project

# GitHub API Token
# GITHUB_TOKEN=your-github-token
